:root{
    --moveStart: 0px;
    --moveEnd: 0px;
}

#logo{
    float: right !important;
}

@media (max-width: 991px){
    #logo{
        float: left !important;
    }
    @keyframes rotate{
        from{
            margin-left: var(--moveStart);
            transform: rotate(0deg);
        }to{
            margin-left: var(--moveEnd);
            transform: rotate(360deg);
        }
    }
}

/*Animação que fica na parte das funcionalidades da aplicação: armazenamento, calculadora e dicas. (página home)*/
@keyframes animation1{
    from{
        width: 0px;
        border-width: 0px;
        border-top: solid;
        border-color: #fff;
    }to{
        width: 280px;
        border-width: 0px;
        border-top: solid;
        border-color: #21ffad;
    }
}

@keyframes animation2{
    from{
        border: 2px solid #ffffff;
    }to{
        border: 2px solid #535353;
    }
}