html, body{
    overflow-x: hidden;
    overflow-y: hidden;
}
.parallaxEntrar{
    height: 100vh;
    width: 100vw;
    background-image: url("../img/backgroundEntrar.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.form-cadastro {
    background-color: #fff;
    border: 2px solid #000;
    width: 100%;
    max-width: 600px;
    padding: 15px 30px 15px 30px;
    margin: auto;
    color: #000;
}

.form-cadastro .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 15px;
    font-size: 16px;
    color: #fff;
    background-color: #212529;
    border-radius: 20px;
}

.form-control::placeholder{
    font-family: "Arial","sans-serif";
    color: #fff;
}

.form-cadastro .form-control:focus {
    z-index: 2;
}

.form-cadastro input[type="email"] {
    margin-bottom: 20px;
}
.form-cadastro input[type="text"] {
    margin-bottom: 20px;
}
.form-cadastro input[type="password"] {
    margin-bottom: 20px;
}

#txtCadastro{
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
}

#linkRedefinir{
    color: #800000;
}

#eye{
    position: absolute;
    left: 91%;
    bottom: 11px;
    z-index: 2;
}

@media (max-height: 550px){

    .parallaxEntrar{
        height: 500px;
        width: 100vw;
        background-image: url("../img/backgroundEntrar.png");
        background-repeat: no-repeat;
        background-size: 100vw 500px;
        margin-top: 55px;
    }

    html, body{
        overflow-y: visible;
    }
}

