html, body{
    overflow-x: hidden;
}

/*PARALLAX*/
.containerParallax{
    background-color: #000;
    height: 100vh;
    width: 100vw;
    padding-left: 0;
    padding-right: 0;
    background-image: url(../img/pesos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.caixaTxtParallax{
    padding: 2.5px 25% 2.5px 25%;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #fff;
    background-color: rgba(0,0,0,.5);
}

/*FONTES*/
.tituloParallax{
    font-family: Times New Roman, Times, serif;
    color: #fff;
    font-weight: bolder;
    font-size: 4vw;
    letter-spacing: 20px;
}
.txtParallax{
    margin: 0px 0px 0px 0px;
    font-family: sans-serif, Arial;
    color: #fff;
    font-weight: bold;
    font-size: 20px;   
}

.tf{
    font-size: 32px;
}

.txt1{
    font-weight: bold;
    color: #21ffad;
}

.txt2{
    font-family: Times New Roman, Times, serif;
    font-weight: bold;
    color: #000;
}

.txt3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #bd0000;
}

.txt4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #21ffad;
}

/*BOTÕES*/
.btn1{
    background-color: rgba(0,0,0,.5);
    font-family: sans-serif;
    font-weight: bold;
    width: 120px;
    height: 40px;
    text-decoration: none;
    border-radius: 15px;
}

/*IMAGENS*/
#logo{
    position: relative;
    margin-top: 195px;
    width: 100px;
}

/*DIVS e SPAN*/
.circleBase{
    animation-name: animation2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

.divEstilo1{
    animation-name: animation1;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.progressBar1{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: #21ffad;
}