/*MEDIA WIDTH*/
/*.tituloParallax*/
@media (max-width: 800px){
    .tituloParallax{
        letter-spacing: 3px;
        font-size: 40px;
    }
}
@media (max-width: 500px){
    .tituloParallax{
        letter-spacing: 3px;
        font-size: 30px;
    }
}

/*caixaTxtParallax*/
@media (max-width: 710px){
    .caixaTxtParallax{
        padding: 2.5px 15% 2.5px 15%;
    }
}
@media (max-width: 502px){
    .caixaTxtParallax{
        padding: 2.5px 5% 2.5px 5%;
    }
}

/*txtParallax*/
@media (max-width: 502px){
    .txtParallax{
        font-size: 17px;
    }
}

/*#imagemUm*/
@media (max-width: 767px){
    #imagemUm{
        width: 300px !important;
    }
}

/*#logo*/
@media (min-width: 991px){
    #logo{
        display: none;
    }
}
@media (max-width: 991px){
    #logo{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media (max-width: 1035px) and (min-width: 991px){
    #logo{
        float: right;
    }
}
@media (max-width: 991px) and (min-width: 768px){
    #logo{
        margin-top: 20px;
        margin-bottom: 0px;
    }
}

/*tf*/
@media (min-width: 762px){
    .tf{
        font-size: 28px;
    }
}
@media (max-width: 762px){
    .tf{
        font-size: 25px;
    }
}

/*tf2*/
@media (max-width: 1732px) and (min-width: 1468px){
    .tf2{
        font-size: 20px !important;
    }
}
@media (max-width: 1468px) and (min-width: 991px){
    .tf2{
        font-size: 18px !important;
    }
}
@media (min-width: 992px){
    .tf2{
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
    }
}

/*#eye*/
@media (max-width: 500px){
    #eye{
        left: 89%;
    }
}
@media (max-width: 380px){
    #eye{
        left: 82%;
    }
}

/*#eye1*/
@media (max-width: 500px){
    #eye1{
        left: 89%;
    }
}
@media (max-width: 380px){
    #eye1{
        left: 82%;
    }
}

/*#eye2*/
@media (max-width: 500px){
    #eye2{
        left: 89%;
    }
}
@media (max-width: 380px){
    #eye2{
        left: 82%;
    }
}

/*#check*/
@media (max-width: 500px){
    #check{
        width: 18px;
    }
}
@media (max-width: 450px){
    #check{
        width: 20px;
    }
}
@media (max-width: 450px){
    #check{
        width: 22px;
    }
}
@media (max-width: 350px){
    #check{
        width: 24px;
    }
}

/*MEDIA HEIGHT*/
/*.containerParallax*/
@media (max-height: 520px){
    .containerParallax{
        height: 550px;
    }
}